body{
	margin:0;
}
.leftBody{
	margin:0;
	width: 100%;
	height: 100%;
	background-color: #1b1c1d;
}
.ui.vertical.inverted.sticky.menu.fixmenu{
	width:100%;
	height:100%;
}
.ui.inverted.sub.header{
	cursor: pointer;
}