*{
				font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
			}
			.loginbg{
				background-image: url("image/loginbg.jpg");
				background-size:cover; 
				width:100%;
				height:100%;
				position: absolute;
				top:0px;left:0px;
			}
			.loginbutton{
				background:url("./image/button1.gif");
				border:none;
				width: 160px;
				height: 32px;
				border-radius: 4px;
				color:aliceblue;
				margin-left:120px
			}
			.loginbutton:hover{
					box-shadow: 0px 0px 2px 2px rgba(57,164,83,0.6);
			}
			.loginform{
				background-color:rgba(255,255,255,0.4);
	width: 400px;
	height: 360px;
	margin: auto;
	margin-top: 150px;
				color:rgba(61,54,54,1.00);
	
			}
			.loginbanner{
				width:200px;
				height:120px;
			}
			.formtitle{
				width:400px;
				height:60px;
				text-align:center;
				line-height:60px;
			}
			.logininfo{
				width:400px;
				height:180px;
			}
			.formline{
				width:400px;
				height:60px;
			}
			.formline input{
				border-radius: 2px;
			}
.formline select{
	width:100px;
	height:30px;
}
			.formline_left{
				width:150px;
				height:60px;
				float:left;
				text-align:center;
			}
			.formline_right{
				width:250px;
				height:60px;
				float:left;
			}
.admin_article{
	float:left;
	width:600px;
	height:600px;
	margin-left:40px;
	margin-top:40px;
	background-color:rgba(255,255,255,0.4);
}
.admin_article textarea{
	width:98%;
	height:98%;
	margin-left:1%;
	margin-top:1%;
}
.admin_backhome{
	width:60px;
	height:100px;
	float:left;
	margin-left:40px;
	margin-top:40px;
	font-size:15px;
	color:#ffffff;
}
/*footer{
	width: 100%;
	height:20px;
	line-height: 20px;
	color:#fff;
	text-align: center;
}*/